<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet type="text/xsl" href="../../assets/xml/rss.xsl" media="all"?><rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:atom="http://www.w3.org/2005/Atom"><channel><title>Jernej Zupančič blog (Objave o web)</title><link>https://jernejzupancic.si/</link><description></description><atom:link href="https://jernejzupancic.si/sl/categories/web.xml" rel="self" type="application/rss+xml"></atom:link><language>sl</language><copyright>Contents © 2020 &lt;a href="mailto:jernej@jernejzupancic.si"&gt;Jernej Zupančič&lt;/a&gt; </copyright><lastBuildDate>Fri, 07 Feb 2020 22:01:48 GMT</lastBuildDate><generator>Nikola (getnikola.com)</generator><docs>http://blogs.law.harvard.edu/tech/rss</docs><item><title>Mysterious nginx upstream errors</title><link>https://jernejzupancic.si/sl/posts/mysterious-nginx-upstream-errors/</link><dc:creator>Jernej Zupančič</dc:creator><description>&lt;div&gt;&lt;p&gt;For easier web app deploy we use the following stack&lt;/p&gt;
&lt;ol&gt;
&lt;li&gt;Ubuntu server&lt;/li&gt;
&lt;li&gt;&lt;a href="https://www.docker.com/products/container-runtime"&gt;Docker&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;Containerized &lt;a href="https://github.com/jwilder/nginx-proxy"&gt;Nginx proxy&lt;/a&gt; with &lt;a href="https://github.com/JrCs/docker-letsencrypt-nginx-proxy-companion"&gt;Letsencrypt companion&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;Containerized Web app&lt;/li&gt;
&lt;/ol&gt;
&lt;p&gt;Docker simplifies the web app development by enabling us, the developers, to pin the majority of the software dependencies versions, and, further, to have the exact same dependencies during development as for the deploy. This greatly reduces the "&lt;em&gt;it works on my machine&lt;/em&gt;" moments. Those moments do not go away fully, because we usually do not specify the version of every last dependency used, however, they become really rare. One thing we do not test in development, though, is the web app operation when coupled with Nginx. And that sometimes leads to unexpected problems, such as the random upstream errors I will describe in next few lines.
&lt;/p&gt;&lt;p&gt;&lt;a href="https://jernejzupancic.si/sl/posts/mysterious-nginx-upstream-errors/"&gt;Več o tem…&lt;/a&gt; (še 3 min za branje preostanka)&lt;/p&gt;&lt;/div&gt;</description><guid>https://jernejzupancic.si/sl/posts/mysterious-nginx-upstream-errors/</guid><pubDate>Fri, 07 Feb 2020 21:06:59 GMT</pubDate></item></channel></rss>